@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

@theme static {
    --*: initial;

    /* Basic */
    --text-h1: 48px;
    --text-h2: 32px;
    --text-h3: 24px;
    --text-h4: 18px;
    --text-h5: 15px;
    --text-h6: 12px;

    --color-primary: light-dark(var(--color-white2), var(--color-black));
    --color-secondary: light-dark(var(--color-white), var(--color-black2));
    --color-thirdary: light-dark(var(--color-white3), var(--color-black3));
    --color-fourthary: light-dark(var(--color-white), var(--color-black4));
    --color-sub-primary: #838383;
    --color-border: light-dark(
        hsl(from var(--color-black) h s l / 0.16),
        hsl(from var(--color-white) h s l / 0.16)
    );
    --breakpoint-mobile: 781px;
    --breakpoint-pad: 1080px;

    --spacing-padding: 16px;
    --spacing-paddingx2: 32px;
    --spacing-gap: 20px;
    --spacing-mobile-half: 150px;
}

@variant max-mobile {
    :root, :host {
        --spacing-padding: 10px;
        --spacing-paddingx2: 20px;
    }
}

@theme {
    --color-dbs-bg: light-dark(var(--light-gray5), var(--dark-gray1));
    --color-dbs-bg2: light-dark(white, var(--dark-gray3));

    --spacing-ss-gloabl-padding: var(--length-global-padding);
    --spacing-golden-ratio: 61.8%;
    --spacing-golden-ratio-inverse: 38.2%;

    /* ShopSample */
    --spacing-content-width: calc(100% - var(--length-sidebar-width));
    --spacing-content-inner-width: calc(100% - var(--length-sidebar-width) - 2 * var(--length-global-padding));
    --shadow-card: 2px 4px 12px hsl(from var(--color-black) h s l / 0.08)
    
}

@utility backdrop {
    @apply bg-thirdary;
    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        background-color: light-dark(
            hsl(from var(--color-white2) h s l / 0.88),
            hsl(from var(--color-black) h s l / 0.88)
        );
        backdrop-filter: saturate(180%) blur(20px);
    }
}

@utility divide-y-gap-* {
    :where(& > :not(:last-child)) {
        margin-bottom: --value(--spacing-*);
        padding-bottom: --value(--spacing-*);
    }
}

@utility grid-items-* {
    grid-template-columns: repeat(auto-fill, minmax(--value(--spacing-*, integer, [integer]), 1fr));
}