---
import Card from "../../components/Card.astro";
import ShopSample from "../../layouts/ShopSample.astro";
---

<ShopSample>
    <div slot="sidebar">Shop Sidebar</div>
    <h1>Welcome to the Shop Page</h1>
    <div class="flex flex-wrap gap-ss-gloabl-padding">
        <a href="/shop/1001">
            <Card
                image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
                imageAlt="Sample Product"
                title="Sample Product Title"
            />
        </a>
        <Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        /><Card
            image="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/watch-card-40-hermes-202509?wid=680&hei=528&fmt=p-jpg&qlt=95&.v=Ly93VWF6a1dGOWJLL3RMM0s0eGZ6bmNVK3pMVFUxQXlhSWdsS1dpNlR1MUMxQXc4S3pBZE5lUDJlTzVYSUYydFMwV0hhcmdVdXZzZ1NwTlFUaEgwTHpjcGJkYllSSE5oejdnSXFOU0tqU0E"
            imageAlt="Sample Product"
            title="Sample Product Title"
        />
    </div>
</ShopSample>
